<!DOCTYPE html>
<html>
  <head>
    <title>Nookcity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-200">
    <div class="h-screen w-screen flex flex-col justify-center items-center min-h-full">
      <h1 class="w-full mb-3 text-green-400 font-semibold text-center text-4xl">Nook City</h1>
      <%= yield %>
    </div>
  </body>
</html>
